.logoFirstImg{
	background-image: url(../images/icon_icsg/ICSG_ICON.png);
	width: 90px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
	background-position: center;
	background-size: 100%;
}

.table thead{
	background: #AABF54;
	color:;
}
.table tbody td{
	background: #fff;
	border-left: 1px solid #AABF54;
	border-bottom: 1px solid #AABF54;
}
.table tbody td:last-child {
	border-right: 1px solid  #AABF54;
}

/*.custom-icon{
	display: inline-block;
	width: 1.25em;
	text-align: center;
}

.i-conavi{
	/*background-image: url(../images/icon_icsg/i-conavi.png);
}
.i-exsis{
	background-image: url(../images/icon_icsg/i-exsis.png);
}
.i-bbva{
	background-image: url(../images/icon_icsg/i-bbva.png);
}
.i-bancolombia{
	background-image: url(../images/icon_icsg/i-bancolombia.png);
}
.i-cifin{
	background-image: url(../images/icon_icsg/i-cifin.png);
}
.i-seguros{
	/*background-image: url(../images/icon_icsg/i-seguros.png);
}
.i-servientrega{
	background-image: url(../images/icon_icsg/i-servientrega.png);
}*/