

/*######################################################################

                      // Theme Color //

########################################################################*/


/* Logo 
===========================================================*/
#wrap.boxed {
	border-top: 5px solid #AABF54;
}

.logo a:hover, .logoFirst, .h2firstword {
	color: #AABF54;
}

/* search
==========================================================*/
.search-btn, .menu-features li a {
	color: #AABF54;
}

/* Menu 
===========================================================*/
#jMenu li a {
	color: #AABF54;
}
#jMenu li a:hover, #jMenu li a.active {
	border-bottom: 3px solid #AABF54;
}

/* Buttons 
===========================================================*/
.color-bg, .btnSubscribe:hover, .tags li a:hover, .flex-control-paging li a.flex-active {
	background: #AABF54;
	background-color: #AABF54;
}
#toTopHover {
	background: #AABF54 url(../../images/icons/totop.png) center center no-repeat;
}

/* Portfolio 
===========================================================*/
.mask, .mask2, ul#portfolio-filter a:hover, ul#portfolio-filter a.current {
	background: #AABF54;
	background-color: #AABF54;
}

/* Blocks
============================================================*/
.block:hover {
	background: #AABF54;
}

/* Elements 
===========================================================*/
.nav-list > .active > a, .nav-list > .active > a:hover, .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .nav-pills > .active > a, .nav-pills > .active > a:hover, .dropcapBg, .depts2 {
	background: #AABF54;
	background-color: #AABF54;
}
.dropcap, .tab-content h5 a, .tab-content h4 a, .tab-content h3 a {
	color: #AABF54;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	border-top: 2px solid #AABF54;
}
.tabs-below > .nav-tabs > .active > a, .tabs-below > .nav-tabs > .active > a:hover, .view  {
	border-bottom: 2px solid #AABF54;
}
.tabs-left > .nav-tabs > .active > a {
	border-left: 2px solid #AABF54;
}
.tabs-right > .nav-tabs > .active > a {
	border-right: 2px solid #AABF54;
}


/* Pricing tables 
===========================================================*/
.selected-table .table-header h1, .table-wrap-2 .table-column:hover .table-header h1, .selected-table .table-footer a, .table-wrap-2 .table-column:hover .table-footer a, .selected-table .table-header h1, .table-wrap-2 .table-column:hover .table-header h1, .selected-table .table-footer a, .table-wrap-2 .table-column:hover .table-footer a {
	background: #AABF54;
	background-color: #AABF54;
}
.selected-table .plan, .table-wrap-2 .table-column:hover .plan, .selected-table i, .table-wrap-2 .table-column:hover i {
	color: #AABF54;
}

/* Text 
===========================================================*/
.date, .color-text, .block i, .underConst h1, .blogOptions span:hover i {
	color: #AABF54;
}

/* Links 
===========================================================*/
a:hover, #mainFooter a:hover {
	color: #AABF54;
}

/* Others 
===========================================================*/
.member:hover, .catchText {
	border-bottom: 4px solid #AABF54;
}
.thumbs li a img:hover {
	border: 3px solid #AABF54;
}

/* selection bg color 
===========================================================*/
::-moz-selection {
	background:#AABF54;
}

::selection {
    background:#AABF54;
}









